@model MemberShipsPro.Areas.Admin.Models.ProductItemModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div class="form-group">
    @Html.DisplayNameFor(model => model.ItemTitle)
    <div class="col-md-10">
        @Html.DisplayFor(model => model.ItemTitle)
    </div>
</div>
<div class="form-group">
    @Html.DisplayNameFor(model => model.ProductTitle)
    <div class="col-md-10">
        @Html.DisplayFor(model => model.ProductTitle)
    </div>
</div>


<p>
    @Html.Partial("_EditButtonPartial", Model.ItemId )
    
    @Html.Partial("_BackToListButtonPartial")
</p>
